<!DOCTYPE html>
<html>
    <head>
        <title>Events of the week</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />

        <!-- Optional theme -->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css" />

        <!-- Latest compiled and minified JavaScript -->
        <script src="/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="pull-right">
{{ if .Auth.User }}
            {{.Auth.User}}
{{ else }}
            <a href="{{.Auth.LoginUrl.String}}">Login</a>
{{ end }}
        </div>
        <div class="container">
{{ if .Auth.User }}
            <div class="pull-right">
                <a href="/newevent" class="btn btn-primary" role="button">New</a>
            </div>
{{ end }}
            <h1>Events of the week <small>Week {{.WeekNumber}}</small></h1>
            <p>Events in the week of {{.WeekstartText}}</p>
            <table class="table">
                <thead>
                    <tr>
{{ range $day := .Days }}
                        <th>{{ $day }}</th>
{{ end }}
                    </tr>
                </thead>
                <tbody>
                    <tr>
{{ range $events := .Events }}
                        <td>
                            <ul>
    {{ range $event := $events }}
                                <li>
                                    <a href="/event/{{ $event.ID }}/view">{{ $event.Title }}</a><br/>
                                        at {{ $event.Start }}<br/>for {{ $event.Duration }}
        {{ if $event.Reference }}
                                        <br/>
                                        <a href="{{ $event.Reference.String }}">See internet page for details</a>
        {{ end }}
                                </li>
    {{ else }}
                                <li>Nothing</li>
    {{ end }}
                            </ul>
                        </td>
{{ end }}
                    </tr>
                </tbody>
            </table>
{{ if .Auth.User }}
            <div class="row">
                <div class="span6 col-md-6">
                    <ul class="nav nav-list">
                        <li class="nav-header">Your upcoming events</li>
    {{ range $event := .Mine }}
			<li>
			    <a href="/event/{{ $event.ID }}/view">{{ $event.Title }}</a>
			    <small>
				at {{ $event.Start }} for {{ $event.Duration }}
			    </small>
			</li>
    {{ end }}
                    </ul>
                </div>

                <div class="span6 col-md-6">
                    <ul class="nav nav-list">
                        <li class="nav-header">Unassigned upcoming events</li>
    {{ range $event := .Unassigned }}
			<li>
			    <a href="/event/{{ $event.ID }}/view">{{ $event.Title }}</a>
			    <small>
				at {{ $event.Start }} for {{ $event.Duration }}
			    </small>
			</li>
    {{ end }}
                    </ul>
                </div>
            </div>
{{ end }}
{{ if .PreviousWeek }}
            <a href="/?week={{ .PreviousWeek }}" class="btn btn-default pull-left" role="button">Week {{ .PreviousWeek }}</a>
{{ end }}
            <a href="/?week={{ .NextWeek }}" class="btn btn-default pull-right" role="button">Week {{ .NextWeek }}</a>
        </div>
    </body>
</html>
