<!DOCTYPE html public>
<html>
    <head>
        <title>Event details: {{.Ev.Title}}</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="pull-right">
{{ if .Auth.User }}
            {{.Auth.User}}
{{ else }}
            <a href="{{.Auth.LoginUrl.String}}">Login</a>
{{ end }}
        </div>
        <div class="container">
            <h1>{{.Ev.Title}} <small>Event Details</small></h1>
            <p>
                The details about the event <em>{{.Ev.Id}}</em>:
            </p>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Title:</td>
                        <td>{{.Ev.Title}}</td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td>{{.Ev.Description}}</td>
                    </tr>
                    <tr>
                        <td>Start time:</td>
                        <td>{{.Ev.Start}}</td>
                    </tr>
                    <tr>
                        <td>End time:</td>
                        <td>{{.End}} ({{.Ev.Duration}})</td>
                    </tr>
                    <tr>
                        <td>Assigned to:</td>
{{ if .Ev.Owner }}
                        <td>{{.Ev.Owner}}</td>
{{ else }}
                        <td>Not assigned yet
  {{ if .Ev.Required }}
                            <p class="bg-warning">Required slot!
                                <a href="/event/{{.Ev.Id}}/take">Please sign up!</a></p>
  {{ end }}
                        </td>
{{ end }}
                    </tr>
                </tbody>
            </table>
            <p>
                <a class="btn btn-primary" href="/?week={{.Week}}" role="button">Back</a>
            </p>
        </div>
    </body>
</html>
