<!DOCTYPE html public>
<html>
    <head>
        <title>Events of the week</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1>Events of the week <small>Week {{.WeekNumber}}</small></h1>
            <p>Events in the week of {{.WeekstartText}}</p>
            <table class="table">
                <thead>
                    <tr>
{{ range $day := .Days }}
                        <th>{{ $day }}</th>
{{ end }}
                    </tr>
                </thead>
                <tbody>
                    <tr>
{{ range $events := .Events }}
                        <td>
                            <ul>
    {{ range $event := $events }}
                                <li><a href="/event/{{ $event.Id }}/view">{{ $event.Title }}</a><br/>
                                    at {{ $event.Start }}<br/>for {{ $event.Duration }}</li>
    {{ else }}
                                <li>Nothing</li>
    {{ end }}
                            </ul>
                        </td>
{{ end }}
                    </tr>
                </tbody>
            </table>
{{ if .PreviousWeek }}
            <a href="/?week={{ .PreviousWeek }}" class="btn btn-default pull-left" role="button">Week {{ .PreviousWeek }}</a>
{{ end }}
            <a href="/?week={{ .NextWeek }}" class="btn btn-default pull-right" role="button">Week {{ .NextWeek }}</a>
        </div>
    </body>
</html>
